---
import '@/styles/globals.css';
import SocietyList from '@/components/SocietyList';
import data from '../societies.json';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Better LU Society Search</title>
		<meta name="description" content="A better way to search for societies at Lancaster University" />
  </head>
  <body>
    <SocietyList client:load societies={data} />
  </body>
</html>
